name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      DEVKITPRO: /opt/devkitpro
      DEVKITARM: /opt/devkitpro/devkitARM

    steps:
    - uses: actions/checkout@v2

    - name: Cache devkitpro
      id: cache-devkitpro
      uses: actions/cache@v2
      with:
        path: /opt/devkitpro
        key: ${{ runner.os }}-devkitpro

    - name: Install devkitPro Pacman
      if: steps.cache-devkitpro.outputs.cache-hit != 'true'
      run: |
        wget https://apt.devkitpro.org/install-devkitpro-pacman
        chmod +x ./install-devkitpro-pacman
        sudo ./install-devkitpro-pacman
    - name: Install GBA Dev tools
      if: steps.cache-devkitpro.outputs.cache-hit != 'true'
      run: sudo dkp-pacman -Sy devkitARM
    - name: Run tests
      run: |
        cargo test --verbose -p arm
        cargo test --verbose -p gba
        cargo test --verbose -p pyrite
