name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      DEVKITPRO: /opt/devkitpro
      DEVKITARM: /opt/devkitpro/devkitARM

    steps:
    - uses: actions/checkout@v2
    - name: Install devkitPro Pacman
      run: |
        wget https://apt.devkitpro.org/install-devkitpro-pacman
        chmod +x ./install-devkitpro-pacman
        sudo ./install-devkitpro-pacman
    - name: Install GBA Dev tools
      run: echo devkitARM | sudo dkp-pacman -S gba-dev
    - name: Run tests
      run: |
        cargo test --verbose -p arm
        cargo test --verbose -p gba
        cargo test --verbose -p pyrite
